@import 'tailwindcss';

@theme {
  /* breakpoints */
  --breakpoint-sm: 280px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1280px;

  /* colors */
  --color-black: #101318;
  --color-white: #fff;

  --color-gray-100: #f2f4f8;
  --color-gray-300: #cfd8ea;
  --color-gray-500: #9fa6bd;
  --color-gray-800: #203034;

  --color-primary: #8642db;
  --color-primary-10: #f1e0fc;
  --color-primary-dark: #7130c0;

  /* font-size */
  --text-3xl: 32px;
  --text-3xl--line-height: 42px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-xl: 20px;
  --text-xl--line-height: 32px;
  --text-lg: 18px;
  --text-lg--line-height: 26px;
  --text-md: 14px;
  --text-md--line-height: 24px;
  --text-sm: 13px;
  --text-sm--line-height: 22px;
  --text-xs: 12px;
  --text-xs--line-height: 20px;
  --text-xs-tight: 12px;
  --text-xs-tight--line-height: 18px;

  /* box-shadow */
  --shadow-primary: 0 2px 20px 0 rgba(0, 0, 0, 0.04);
}

@layer utilities {
  .fade-up {
    opacity: 0;
    transform: translateY(1rem);
    animation: fadeUp 0.5s ease-out forwards;
  }

  .fade-up-delay-1 {
    animation-delay: 0.2s;
  }

  .fade-up-delay-2 {
    animation-delay: 0.3s;
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* 우선순위 적용 문제 때문에 utilities에 설정 */
  .btn-secondary {
    @apply bg-primary-10 text-primary hover:bg-primary hover:text-white transition-colors;
  }
}

@layer components {
  .input {
    @apply w-full px-5 pr-12 border py-2.5 text-md sm:rounded-xl
          md:py-3 md:text-base md:rounded-2xl
          bg-white text-gray-800 placeholder-gray-500 border-gray-300
          shadow-sm transition focus:outline-none
          focus:ring-2 focus:ring-primary;
  }

  .input-icon-btn {
    @apply w-5 h-5 text-gray-500;
  }

  .form {
    @apply flex flex-col items-center w-full md:w-[496px] bg-white px-5 py-14 md:px-12 md:py-16 rounded-2xl shadow-primary;
  }

  .form-btm-actions {
    @apply flex flex-col w-full mt-10 md:mt-10 mb-6 md:mb-8 gap-4;
  }

  .btn-outlined {
    @apply !bg-white border border-gray-300 sm:rounded-xl hover:border-primary;
  }

  /* 상세 페이지 별 */
  .details-star {
    @apply w-[18px] h-[18px] md:w-[24px] md:h-[24px];
  }

  /* 목록 카드 별 */
  .list-star {
    @apply w-[14px] h-[14px] md:w-[24px] md:h-[24px];
  }

  /* 추천 카드 별 */
  .recommend-star {
    @apply w-[12px] h-[12px] md:w-[18px] md:h-[18px];
  }

  /* 가로 스크롤 ui 숨기기 */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  /* 안내 문구 */
  .hint-text {
    @apply flex text-md text-gray-500;
  }

  /* info icon */
  .info-icon {
    @apply w-4 h-4 shrink-0 mt-1 mr-1;
  }

  .modal-open {
    overflow: hidden;
  }
}

@layer base {
  body {
    @apply text-gray-800;
  }

  /* button */
  button {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }
}
