@import 'tailwindcss';

@theme {
  /* breakpoints */
  --breakpoint-sm: 280px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1280px;

  /* colors */
  --color-black: #101318;
  --color-white: #fff;

  --color-gray-100: #f2f4f8;
  --color-gray-300: #cfd8ea;
  --color-gray-500: #9fa6bd;
  --color-gray-800: #203034;

  --color-primary: #8642db;
  --color-primary-10: #f1e0fc;

  /* font-size */
  --text-3xl: 32px;
  --text-3xl--line-height: 42px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;
  --text-xl: 20px;
  --text-xl--line-height: 32px;
  --text-lg: 18px;
  --text-lg--line-height: 26px;
  --text-md: 14px;
  --text-md--line-height: 24px;
  --text-sm: 13px;
  --text-sm--line-height: 22px;
  --text-xs: 12px;
  --text-xs--line-height: 20px;
  --text-xs-tight: 12px;
  --text-xs-tight--line-height: 18px;
}

@layer components {
  .input {
    @apply w-full px-5 border py-2.5 text-md sm:rounded-xl
           md:py-3 md:text-base md:rounded-2xl
           bg-white text-gray-800 placeholder-gray-500
           shadow-sm transition focus:outline-none
           focus:ring-2 focus:ring-primary;
  }

  /* button */
  button {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }
}
